main.sfondo{
    background-image: url('../../img/molisana-home.jpg');
}

@include container;

//products.blade.php
.paste{

    h2{
        text-align: center;
        padding: 20px;
    }

    .tipo-pasta{
        @include flex;


        .box{
            position: relative;
            width: 500px;
            display: flex; //disattivandolo ci sarebbe dello spazio tra le immagini
    
            img{
                width: 100%;
            }
            .info{
                display: none;
                text-align: center;
                @include absolute;
            }
            &:hover .info{
                display: block;
            }
        }

    }

    
}


//details.blade.php
main{

    .foto img{
        width: 100%;
        display: block;
    }

    .specifiche{
        text-align: center;

        i{
            font-size: 30px;
            padding: 20px;
        }
    }

    .descrizione{
        font-size: 40px;
    }
}