@mixin flex($justify:center){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    flex-wrap: wrap;
}

@mixin container {
    .container{
        width: 1300px;
        margin: 0 auto;
        //background-color: red;
    }
}

@mixin absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}